@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab:600");

$color1: #2666cf;
$color2: #151719;
$color3: #e5e3df;

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-width: 320px;
}

body {
  background-color: $color2;
  font-size: 16px;
  font-family: "Josefin Slab", serif;
  color: $color3;
}

section {
  padding: 50px 0 0 0;
  margin: 0;
}

header {
  margin-bottom: 50px;
}

.max {
  max-width: 1200px;
}

h1 {
  font-family: "Fredericka the Great", cursive;
  font-size: 3.6em;
  color: $color1;
  font-weight: lighter;
  margin: 0;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  text-align: center;
  font-size: 1.9em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 0;
}

h3 {
  font-size: 1.8em;
  margin-bottom: 0;
  margin-top: 6px;
}

p {
  font-size: 1.2em;
}

.title {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.3em;
    padding-top: 8px;
    margin: 0;
    letter-spacing: 1px;
  }

  .arrow {
    text-align: center;
    margin: 10px 0;
    position: absolute;
    bottom: 0;
    a {
      display: block;
      font-size: 4rem;
      color: $color1;
      text-decoration: none;
    }
  }
}

.galleryItems {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding: 0 5px;

  div {
    width: 100%;
    line-height: 0;
    background-color: $color1;
    border-radius: 2px;

    img {
      width: 100%;
      height: 100%;
    }

    p {
      text-align: center;
      font-size: 1em;

      a {
        color: inherit;
        display: inline-block;
      }
    }
  }
}

.fancybox-caption {
  font-size: 1.4em;
  padding-bottom: 40px;
}

.footer {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

/* Scrollbar Styles */
body::-webkit-scrollbar {
  width: 12px;
}
html {
  scrollbar-width: thin;
  scrollbar-color: $color1 $color3;
}
body::-webkit-scrollbar-track {
  background: $color3;
}
body::-webkit-scrollbar-thumb {
  background-color: $color1;
  border-radius: 6px;
  border: 3px solid $color3;
}

/*************** MEDIA QUERIES ***************/

@media (max-width: 399px) {
  h1 {
    font-size: 3.2em;
  }
}

@media (min-width: 576px) {
  .gallery .galleryItems {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .gallery {
    .galleryItems {
      grid-template-columns: repeat(3, 1fr);
      padding: 0 20px;
    }
  }

  h1 {
    font-size: 6em;
  }

  h2 {
    letter-spacing: 4px;
  }

  .title {
    p {
      font-size: 1.7em;
      padding-top: 8px;
      margin: 0;
      letter-spacing: 6px;
    }
  }
}

@media (min-width: 992px) {
  body {
    font-size: 17px;
  }

  .gallery {
    .galleryItems {
      grid-template-columns: repeat(4, 1fr);
    }
    .filter a {
      width: 100px;
      margin-bottom: 2px;
    }
  }
}

@media (min-width: 1200px) {
  .gallery .galleryItems {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 20px;
    width: 80%;
    margin: auto;
  }

  h1 {
    font-size: 6em;
  }

  h2 {
    letter-spacing: 4px;
  }

  .title {
    p {
      font-size: 1.6em;
      padding-top: 8px;
      margin: 0;
      letter-spacing: 6px;
    }
  }
}

@media (min-width: 1900px) {
  body {
    font-size: 18px;
  }
}
